Jawilliam.CDF.XObjects/XNodeTypeSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 sp2 (x64) (http://www.altova.com) by Guillermo de la Torre (Phd Student) -->
<xs:schema xmlns="http://tempuri.org/XNodeTypeSystem.xsd" xmlns:mstns="http://tempuri.org/XNodeTypeSystem.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/XNodeTypeSystem.xsd" elementFormDefault="qualified" id="XNodeTypeSystem">
  <xs:complexType name="TypeLabelOption">
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:simpleType name="optionHashtags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="#KEYWORD"/>
          <xs:enumeration value="#OPERATOR"/>
          <xs:enumeration value="#PUNTUACTION"/>
          <xs:enumeration value="#SYMBOLIC"/>
          <xs:enumeration value="#IDENTIFIER"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="PropertyLabelOption">
    <xs:complexContent>
      <xs:extension base="mstns:TypeLabelOption">
        <xs:attribute name="type" type="xs:string" use="optional"/>
        <xs:attribute name="keyword" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="operator" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="puntuaction" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="expression" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="literal" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="identifier" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="readonly" type="xs:boolean" use="optional" default="true"/>
        <xs:attribute name="hashtags" type="mstns:optionHashtags" use="optional" default=""/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EqualityAndOrSimilarityAbsoluteAndOrRelativeRules">
    <xs:attribute name="equality" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="similarity" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="absolute" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="relative" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="priority" type="xs:unsignedByte" use="optional"/>
	</xs:complexType>
  <xs:complexType name="SuitabilityRule">
    <xs:attribute name="suitable" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
  <xs:complexType name="PairwiseRules">
    <xs:attribute name="tunneling" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="discriminant" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="priority" type="xs:unsignedByte" use="optional"/>
  </xs:complexType>
  <xs:attributeGroup name="TopologyLeafAttribute">
    <xs:attribute name="leaf" use="optional" default="Rarely">
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Rarely"/>
              <xs:enumeration value="Eventually"/>
              <xs:enumeration value="Likely"/>
              <xs:enumeration value="Tiny"/>
              <xs:enumeration value="Terminal"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  
  <xs:complexType name="TopologyRules">
    <xs:attribute name="relevant" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="relevantOnlyIf" type="xs:string" use="optional"/>
    <xs:attribute name="relevancy" type="xs:unsignedByte" use="optional" default="0"/>
    <xs:attributeGroup ref="mstns:TopologyLeafAttribute"/>
    <xs:attribute name="descendant" type="xs:boolean" use="optional"/>
  </xs:complexType>  
  <xs:complexType name="JoinCase">
    <xs:attribute name="leftPath" type="xs:string"/>
    <xs:attribute name="rightPath" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="NameRules">
    <xs:complexContent>
      <xs:extension base="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules">
        <xs:attribute name="suitability">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Key"/>
              <xs:enumeration value="Hint"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
  <xs:attributeGroup name="CompatibilityAttributes">
    <xs:attribute name="type" type="xs:string" use="optional"/>
    <xs:attribute name="kind" type="xs:string" use="optional"/>
    <xs:attribute name="twoWay" type="xs:boolean" use="optional" default="false"/>
  </xs:attributeGroup>
  <xs:group name="CaseRules">
    <xs:choice>
      <xs:element name="Condition">
        <xs:complexType>
          <xs:attribute name="code" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
	<xs:element name="Syntax">
		<xs:annotation>
			<xs:documentation>Roslyn Delta Specification Language</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nodes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Type" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Properties" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Property" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
                                <xs:element name="Options" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Kind" type="mstns:PropertyLabelOption" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                    <xs:attribute name="exclusive" type="xs:boolean" use="optional" default="false"/>
                                    <xs:attribute name="labeling" type="xs:boolean" use="optional" default="false"/>
                                  </xs:complexType>
                                </xs:element>
																<xs:element name="Rules" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Signature" type="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules" minOccurs="0" maxOccurs="4"/>
																			<xs:element name="Name" minOccurs="0" maxOccurs="4">
																				<xs:complexType>
																					<xs:complexContent>
																						<xs:extension base="mstns:NameRules">
																							<xs:attribute name="conventionPattern" type="xs:string" use="optional"/>
																						</xs:extension>
																					</xs:complexContent>
																				</xs:complexType>
																			</xs:element>
                                      <xs:element name="Hint" type="mstns:SuitabilityRule" minOccurs="0"/>
                                      <xs:element name="Compatibility" minOccurs="0">
                                        <xs:complexType>
                                          <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="Exclusive" minOccurs="0">
                                              <xs:complexType>
                                                <xs:attribute name="mutually" type="xs:boolean" use="optional" default="false"/>
                                                <xs:attribute name="with" type="xs:string" use="required"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Pairwise" type="mstns:PairwiseRules" minOccurs="0"/>
                                      <xs:element name="Topology" type="mstns:TopologyRules" minOccurs="0"/>
																		</xs:sequence>
																		<xs:attribute name="essential" type="xs:boolean" use="optional" default="false"/>
                                    <xs:attribute name="collection" type="xs:boolean" use="optional" default="false"/>
                                    <xs:attribute name="eventuallyCollection" type="xs:boolean" use="optional" default="false"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string" use="required"/>
															<!--<xs:attribute name="kind" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Node"/>
																		<xs:enumeration value="Token"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>-->
															<xs:attribute name="index" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:int"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="readOnly" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="optional" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="changepoint" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="inherited" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="multiplicity" use="optional" default="Single">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Single"/>
																		<xs:enumeration value="Collection"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
                              <xs:attribute name="type" type="xs:string" use="required"/>
															<xs:attribute name="collectionType" type="xs:string" use="optional"/>
                              <xs:attribute name="collectionSeparator" type="xs:string" use="optional"/>
                              <xs:attribute name="hashtags" use="optional" default="">
                                <xs:simpleType>
                                  <xs:list>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:enumeration value="#KEYWORD"/>
                                        <xs:enumeration value="#OPERATOR"/>
                                        <xs:enumeration value="#PUNTUACTION"/>
                                        <xs:enumeration value="#SYMBOLIC"/>
                                        <xs:enumeration value="#IDENTIFIER"/>

                                        <!--ExpressionSyntax-->
                                        <xs:enumeration value="#Expression"/>
                                        <!--TypeSyntax : ExpressionSyntax-->
                                        <xs:enumeration value="#Expression#Type"/>
                                        <!--: ArrayTypeSyntax : TypeSyntax : ExpressionSyntax-->
                                        <xs:enumeration value="#Expression#Type#Array"/>
                                        <!--: NameSyntax : TypeSyntax : ExpressionSyntax -->
                                        <xs:enumeration value="#Expression#Type#Name"/>
                                        <!--: SimpleNameSyntax : NameSyntax : TypeSyntax : ExpressionSyntax -->
                                        <xs:enumeration value="#Expression#Type#Name#Simple"/>
                                        <!--: IdentifierNameSyntax : SimpleNameSyntax : NameSyntax : TypeSyntax : ExpressionSyntax -->
                                        <xs:enumeration value="#Expression#Type#Name#Simple#Identifier"/>
                                        <!--: NameColonSyntax -->
                                        <xs:enumeration value="#EXPRESSION#TYPE#NAME#SIMPLE#IDENTIFIER#Colon"/>
                                        <!--: NameEqualsSyntax -->
                                        <xs:enumeration value="#EXPRESSION#TYPE#NAME#SIMPLE#IDENTIFIER#Equals"/>
                                        <!--: InitializerExpressionSyntax : ExpressionSyntax -->
                                        <xs:enumeration value="#Expression#Initializer"/>
                                        <!--: ArrowExpressionClauseSyntax-->
                                        <xs:enumeration value="#CLAUSE#EXPRESSION#Arrow"/>
                                        <!--: ElseClauseSyntax-->
                                        <xs:enumeration value="#CLAUSE#Else"/>
                                        <!--: FinallyClauseSyntax-->
                                        <xs:enumeration value="#CLAUSE#Finally"/>
                                        <!--: WhenClauseSyntax-->
                                        <xs:enumeration value="#CLAUSE#When"/>
                                        <!--QueryClauseSyntax-->
                                        <xs:enumeration value="#QUERY#Clause"/>
                                        <!--: FromClauseSyntax: QueryClauseSyntax-->
                                        <xs:enumeration value="=#QUERY#Clause#From"/>
                                        <!--OrderingSyntax-->
                                        <xs:enumeration value="=#QUERY#Ordering"/>
                                        <!--: EqualsValueClauseSyntax-->
                                        <xs:enumeration value="#CLAUSE#VALUE#Equals"/>
                                        <!--: InterpolationAlignmentClauseSyntax-->
                                        <xs:enumeration value="#CLAUSE#INTERPOLATION#Alignment"/>
                                        <!--: InterpolationFormatClauseSyntax-->
                                        <xs:enumeration value="#CLAUSE#INTERPOLATION#Format"/>
                                        <!--: JoinIntoClauseSyntax-->
                                        <xs:enumeration value="=#CLAUSE#JOIN#Into"/>
                                        <!--: CatchClauseSyntax-->
                                        <xs:enumeration value="=#CLAUSE#Catch"/>
                                        <!--TypeParameterConstraintClauseSyntax-->
                                        <xs:enumeration value="=#CLAUSE#TYPE#PARAMETER#Constraint"/>
                                        <!--TypeParameterConstraintSyntax-->
                                        <xs:enumeration value="=#TYPE#PARAMETER#Constraint"/>
                                        <!--: StatementSyntax-->
                                        <xs:enumeration value="#Statement"/>
                                        <!--: BlockSyntax : StatementSyntax-->
                                        <xs:enumeration value="#Statement#Block"/>
                                        <!--SwitchSectionSyntax-->
                                        <xs:enumeration value="=#SWITCH#Section"/>
                                        <!--: SwitchSectionSyntax-->
                                        <xs:enumeration value="#SWITCH#Label"/>
                                        <!--: CatchDeclarationSyntax-->
                                        <xs:enumeration value="#DECLARATION#Catch"/>
                                        <!--: CatchFilterClauseSyntax-->
                                        <xs:enumeration value="#DECLARATION#CATCH#Filter"/>
                                        <!--ParameterSyntax-->
                                        <xs:enumeration value="=#DECLARATION#Parameter"/>
                                        <!--AttributeSyntax-->
                                        <xs:enumeration value="=#DECLARATION#Attribute"/>
                                        <!--AttributeArgumentSyntax-->
                                        <xs:enumeration value="=#ATTRIBUTE#Argument"/>
                                        <!--: VariableDeclarationSyntax-->
                                        <xs:enumeration value="#DECLARATION#Variable"/>
                                        <xs:enumeration value="#DECLARATION#VARIABLE"/>
                                        <!--: VariableDesignationSyntax-->
                                        <xs:enumeration value="#DECLARATION#VARIABLE#Designation"/>
                                        <xs:enumeration value="#DECLARATION#VARIABLE#TYPE"/>
                                        <xs:enumeration value="#DECLARATION#VARIABLE#IDENTIFIER"/>
                                        <!--EnumMemberDeclarationSyntax-->
                                        <xs:enumeration value="=#DECLARATION#ENUM#Member"/>
                                        <!--MemberDeclarationSyntax inheritors-->
                                        <xs:enumeration value="#DECLARATION#Member"/>
                                        <!--AccessorDeclarationSyntax-->
                                        <xs:enumeration value="=#DECLARATION#Accessor"/>
                                        <!--AnonymousObjectMemberDeclaratorSyntax-->
                                        <xs:enumeration value="=#DECLARATOR#OBJECT#Member"/>
                                        <!--VariableDeclaratorSyntax-->
                                        <xs:enumeration value="=#DECLARATOR#Variable"/>
                                        <!--PatternSyntax inheritors-->
                                        <xs:enumeration value="#Pattern"/>
                                        <!--: ConstructorInitializerSyntax-->
                                        <xs:enumeration value="#INITIALIZER#Constructor"/>
                                        <!--: CrefSyntax-->
                                        <xs:enumeration value="#Cref"/>
                                        <!--: MemberCrefSyntax : CrefSyntax-->
                                        <xs:enumeration value="#Cref#Member"/>
                                        <!--ExplicitInterfaceSpecifierSyntax-->
                                        <xs:enumeration value="=#SPECIFIER#INTERFACE#Explicit"/>
                                        <!--ArrayRankSpecifierSyntax-->
                                        <xs:enumeration value="=#SPECIFIER#ARRAY#Rank"/>
                                        <!--AttributeTargetSpecifierSyntax-->
                                        <xs:enumeration value="=#SPECIFIER#ATTRIBUTE#Target"/>
                                        <!--QueryBodySyntax inheritors-->
                                        <xs:enumeration value="#QUERY#Body"/>
                                        <!--QueryContinuationSyntax-->
                                        <xs:enumeration value="=#QUERY#Continuation"/>
                                        <!--: SelectOrGroupClauseSyntax inheritors-->
                                        <xs:enumeration value="#QUERY#CLAUSE#SelectOrGroup"/>
                                        <!--XmlNodeSyntax inheritors-->
                                        <xs:enumeration value="#XML#Node"/>
                                        <!--XmlAttributeSyntax inheritors-->
                                        <xs:enumeration value="#XML#Attribute"/>
                                        <!--XmlNameSyntax inheritors-->
                                        <xs:enumeration value="#XML#Name"/>
                                        <!--XmlPrefixSyntax inheritors-->
                                        <xs:enumeration value="#XML#Prefix"/>
                                        <!--XmlElementEndTagSyntax inheritors-->
                                        <xs:enumeration value="#XML#TAG#End"/>
                                        <!--XmlElementStartTagSyntax inheritors-->
                                        <xs:enumeration value="#XML#TAG#Start"/>

                                        <!--InterpolatedStringContentSyntax-->
                                        <xs:enumeration value="#INTERPOLATION#STRING#Content"/>
                                        <!--ArgumentSyntax-->
                                        <xs:enumeration value="=#Argument"/>
                                        <!--BaseArgumentListSyntax inheritors-->
                                        <xs:enumeration value="#LIST#Argument"/>
                                        <!--BracketedParameterListSyntax inheritors-->
                                        <xs:enumeration value="=#LIST#PARAMETER#Bracketed"/>
                                        <!--BaseParameterListSyntax inheritors-->
                                        <xs:enumeration value="#LIST#Parameter"/>
                                        <!--BracketedArgumentListSyntax-->
                                        <xs:enumeration value="=#LIST#ARGUMENT#Bracketed"/>
                                        <!--TypeParameterListSyntax-->
                                        <xs:enumeration value="=#LIST#TYPE#Parameter"/>
                                        <!--AttributeListSyntax-->
                                        <xs:enumeration value="=#LIST#Attribute"/>
                                        <!--AttributeArgumentListSyntax-->
                                        <xs:enumeration value="=#LIST#ATTRIBUTE#Argument"/>
                                        <!--AccessorListSyntax-->
                                        <xs:enumeration value="=#LIST#Accessor"/>
                                        <!--TypeArgumentListSyntax...-->
                                        <xs:enumeration value="=#LIST#TYPE#Argument"/>
                                        <!--BaseListSyntax...-->
                                        <xs:enumeration value="=#LIST#TYPE#Base"/>
                                        <!--TypeParameterSyntax-->
                                        <xs:enumeration value="=#TYPE#Parameter"/>
                                        <xs:enumeration value="=#TYPE#Base"/>
                                        <!--TupleElementSyntax-->
                                        <xs:enumeration value="=#TYPE#TUPLE#Element"/>
                                        <!--TypeArgumentSyntax-->
                                        <xs:enumeration value="=#TYPE#Argument"/>
                                        <!--CrefParameterSyntax-->
                                        <xs:enumeration value="=#CREF#Parameter"/>
                                        <!--ExternAliasDirectiveSyntax-->
                                        <xs:enumeration value="=#DIRECTIVE#ExternAlias"/>
                                        <!--UsingDirectiveSyntax-->
                                        <xs:enumeration value="=#DIRECTIVE#Using"/>
                                        <!--VariableDesignationSyntax inheritors<xs:enumeration value="#VARIABLE#Designation"/>-->
                                        
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:list>
                                </xs:simpleType>
                              </xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
                    <xs:element name="Options" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="mstns:TypeLabelOption" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="exclusive" type="xs:boolean" use="optional" default="false"/>
                      </xs:complexType>
                    </xs:element>
										<xs:element name="Rules" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
                          <xs:element name="Topology" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                              <xs:attributeGroup ref="mstns:TopologyLeafAttribute"/>
                            </xs:complexType>
                          </xs:element>
													<xs:element name="Signature" type="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules" minOccurs="0"/>
                          <xs:element name="Name" type="mstns:NameRules" minOccurs="0"/>
                          <xs:element name="Hint" type="mstns:SuitabilityRule" minOccurs="0"/>
                          <!--<xs:element name="Alias" type="mstns:CaseRules" minOccurs="0" maxOccurs="unbounded"/>-->
                          <xs:element name="Compatibility" minOccurs="0">
                            <xs:complexType>
                              <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="Signature" minOccurs="0">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules">
                                        <xs:group ref="CaseRules" maxOccurs="unbounded"></xs:group>
                                        <xs:attributeGroup ref="CompatibilityAttributes"/>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Name" minOccurs="0">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules">
                                        <xs:group ref="CaseRules" maxOccurs="unbounded"></xs:group>
                                        <xs:attributeGroup ref="CompatibilityAttributes"/>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Hint" minOccurs="0">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="mstns:SuitabilityRule">
                                        <xs:attributeGroup ref="CompatibilityAttributes"/>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Alias" minOccurs="0">
                                  <xs:complexType>
                                    <xs:group ref="CaseRules" maxOccurs="unbounded"></xs:group>
                                    <xs:attributeGroup ref="CompatibilityAttributes"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
													<xs:element name="Granularity" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="fine" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="coarse" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
                        <xs:attribute name="collection" type="xs:boolean" use="optional" default="false"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Annotations" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Annotation" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="context" type="xs:string" use="required"/>
															<xs:attribute name="role" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="abstract" type="xs:boolean" use="optional" default="false"/>
									<xs:attribute name="base" type="xs:string" use="optional"/>
                  <xs:attribute name="token" type="xs:boolean" use="optional" default="false"/>
                  <xs:attribute name="readonly" type="xs:boolean" use="optional" default="false"/>
                  <xs:attribute name="symbolic" type="xs:boolean" use="optional" default="false"/>
                  <xs:attribute name="hashtags" use="optional" default="">
                    <xs:simpleType>
                      <xs:list>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="#declaration"/>
                            <!--MemberDeclarationSyntax inheritors-->
                            <xs:enumeration value="#DECLARATION#Member"/>
                            <xs:enumeration value="#DECLARATION#MEMBER"/>
                            <!--BaseMethodDeclarationSyntax : MemberDeclarationSyntax inheritors-->
                            <xs:enumeration value="#DECLARATION#Member#Method"/>
                            <!--BaseTypeDeclarationSyntax : MemberDeclarationSyntax inheritors-->
                            <xs:enumeration value="#DECLARATION#Member#Type"/>
                            <xs:enumeration value="#DECLARATION#MEMBER#TYPE"/>
                            <!--BasePropertyDeclarationSyntax : MemberDeclarationSyntax inheritors-->
                            <xs:enumeration value="#DECLARATION#Member#Property"/>
                            <!--BaseFieldDeclarationSyntax : MemberDeclarationSyntax inheritors-->
                            <xs:enumeration value="#DECLARATION#Member#Field"/>
                            <xs:enumeration value="#DECLARATION#LOCAL"/>
                            <xs:enumeration value="#DECLARATION#VARIABLE"/>
                            <!--VariableDesignationSyntax inheritors-->
                            <xs:enumeration value="#DECLARATION#VARIABLE#Designation"/>
                            <xs:enumeration value="#DECLARATION#VARIABLE#DECLARATOR"/>
                            <xs:enumeration value="#DECLARATION#FUNCTION"/>
                            <xs:enumeration value="#DECLARATION"/> <!--attribute, accessor, parameter, type parameter-->
                            
                            <!--StatementSyntax inheritors-->
                            <xs:enumeration value="#Statement"/>
                            <!--CommonForEachStatementSyntax : StatementSyntax inheritors-->
                            <xs:enumeration value="#Statement#ForEach"/>
                            <xs:enumeration value="#statement"/>
                            <xs:enumeration value="#switch"/>
                            <xs:enumeration value="#SWITCH"/>
                            <!--SwitchSectionSyntax-->
                            <xs:enumeration value="#SWITCH#Label"/>
                            <xs:enumeration value="#SWITCH#LABEL"/>
                            <xs:enumeration value="#STATEMENT#WRAPPER"/>
                            
                            <!--ExpressionSyntax inheritors-->
                            <xs:enumeration value="#Expression"/>
                            <!--TypeSyntax : ExpressionSyntax-->                            
                            <xs:enumeration value="#Expression#Type"/>  
                            <!--NameSyntax : TypeSyntax : ExpressionSyntax-->                            
                            <xs:enumeration value="#Expression#Type#Name"/>  
                            <!-- SimpleNameSyntax : NameSyntax : TypeSyntax : ExpressionSyntax-->                            
                            <xs:enumeration value="#Expression#Type#Name#Simple"/>                              
                            <xs:enumeration value="#IDENTIFIER#WRAPPER"/>  
                            <!--AnonymousFunctionExpressionSyntax : ExpressionSyntax-->                            
                            <xs:enumeration value="#Expression#AnonymousFunction"/>  
                            <!--LambdaExpressionSyntax : AnonymousFunctionExpressionSyntax : ExpressionSyntax-->                            
                            <xs:enumeration value="#Expression#AnonymousFunction#Lambda"/>  
                            <!--InstanceExpressionSyntax : ExpressionSyntax-->                            
                            <xs:enumeration value="#Expression#Instance"/>
                            <xs:enumeration value="#expression"/>
                            <xs:enumeration value="#EXPRESSION#WRAPPER"/>                              
                            <xs:enumeration value="#VALUE#WRAPPER"/>             
                                                               
                            <xs:enumeration value="#trivia"/>
                            <!--StructuredTriviaSyntax inheritors-->
                            <xs:enumeration value="#TRIVIA#Structured"/>
                            <!--DirectiveTriviaSyntax : StructuredTriviaSyntax inheritors-->
                            <xs:enumeration value="#TRIVIA#Structured#Directive"/>
                            <!--BranchingTriviaSyntax : DirectiveTriviaSyntax : StructuredTriviaSyntax inheritors-->
                            <xs:enumeration value="#TRIVIA#Structured#Directive#Branching"/>
                            <!-- ConditionalDirectiveTriviaSyntax : BranchingTriviaSyntax : DirectiveTriviaSyntax : StructuredTriviaSyntax inheritors-->
                            <xs:enumeration value="#TRIVIA#Structured#Directive#Branching#Conditional"/>
                            <xs:enumeration value="#directive"/>                                                                            
                            
                            <xs:enumeration value="#cref"/>
                            <!--CrefSyntax inheritors-->
                            <xs:enumeration value="#Cref"/>
                            <!--MemberCrefSyntax inheritors-->
                            <xs:enumeration value="#Cref#Member"/>
                            
                            <xs:enumeration value="#xml"/>
                            <!--XmlNodeSyntax inheritors-->
                            <xs:enumeration value="#XML#Node"/>
                            <!--XmlAttributeSyntax inheritors-->
                            <xs:enumeration value="#XML#Attribute"/>                                                     
                                                
                            <!--PatternSyntax inheritors-->
                            <xs:enumeration value="#Pattern"/> 
                            
                            <xs:enumeration value="#clause"/>
                            <xs:enumeration value="#list"/>
                            <!--BaseArgumentListSyntax inheritors-->
                            <xs:enumeration value="#LIST#Argument"/>
                            <!--BaseParameterListSyntax inheritors-->
                            <xs:enumeration value="#LIST#Parameter"/>
                            <!--BaseCrefParameterListSyntax inheritors-->
                            <xs:enumeration value="#LIST#CrefParameter"/>
                            <xs:enumeration value="#type"/>
                            <xs:enumeration value="#type#argument"/>
                            <xs:enumeration value="#type#parameter"/>
                            <xs:enumeration value="#TYPE#PARAMETER#Constraint"/>
                            <xs:enumeration value="#TYPE#PARAMETER#CONSTRAINT"/>
                            <xs:enumeration value="#TYPE#BASE"/>
                            <xs:enumeration value="#name"/> 
                            <xs:enumeration value="#member"/>
                            <xs:enumeration value="#parameter"/>
                            <xs:enumeration value="#PARAMETER"/>
                            <xs:enumeration value="#element"/>
                            <xs:enumeration value="#attribute"/>
                            <xs:enumeration value="#attribute#argument"/>
                            <xs:enumeration value="#argument"/>
                            <xs:enumeration value="#access"/>
                            <xs:enumeration value="#ref"/> 
                            <xs:enumeration value="#array"/>
                            <xs:enumeration value="#creation"/>
                            <xs:enumeration value="#for"/>
                            <xs:enumeration value="#variable"/>
                            <xs:enumeration value="#label"/>
                            <xs:enumeration value="#constraint"/>
                            <xs:enumeration value="#operator"/>
                            <xs:enumeration value="#OPERATOR"/>
                            <xs:enumeration value="#pattern"/>
                            <xs:enumeration value="#parenthesized"/>
                            <xs:enumeration value="#anonymous"/>
                            <xs:enumeration value="#ANONYMOUS"/>
                            <xs:enumeration value="#base"/>
                            <xs:enumeration value="#object"/>                            
                            <xs:enumeration value="#query"/>                            
                            <xs:enumeration value="#QUERY"/>
                            <!--QueryClauseSyntax inheritors-->
                            <xs:enumeration value="#QUERY#Clause"/>                           
                            <!--QueryClauseSyntax inheritors-->
                            <xs:enumeration value="#QUERY#CLAUSE#SelectOrGroup"/> 
                            <xs:enumeration value="#text"/>
                            <xs:enumeration value="#interpolation"/>
                            <xs:enumeration value="#INTERPOLATION#STRING"/>
                            <!-- InterpolatedStringContentSyntax-->
                            <xs:enumeration value="#INTERPOLATION#STRING#Content"/>                            
                            <xs:enumeration value="#bracketed"/>  
                            <xs:enumeration value="#qualified"/>
                            <xs:enumeration value="#specifier"/> 
                            <xs:enumeration value="#if"/>      
                            <xs:enumeration value="#IF"/>
                            <xs:enumeration value="#TRY"/>                            
                            <xs:enumeration value="#catch"/>
                            <xs:enumeration value="#CATCH"/>
                            <xs:enumeration value="#constructor"/>
                            <xs:enumeration value="#end"/>                        
                            <xs:enumeration value="#tuple"/>                          
                            <xs:enumeration value="#unary"/>                           
                            <xs:enumeration value="#conditional"/> 
                            <xs:enumeration value="#binding"/> 
                            <xs:enumeration value="#implicit"/> 
                            <xs:enumeration value="#checked"/> 
                            <xs:enumeration value="#method"/>                        
                            <xs:enumeration value="#initializer"/>                        
                            <xs:enumeration value="#equals"/>                             
                            <xs:enumeration value="#declarator"/>   
                            <xs:enumeration value="#join"/>                            
                            <xs:enumeration value="#ORDERBY"/>   
                            <xs:enumeration value="#omitted"/>                          
                            <xs:enumeration value="#alias"/>                           
                            <xs:enumeration value="#throw"/>                         
                            <xs:enumeration value="#WHILE"/>                           
                            <xs:enumeration value="#enum"/>
                            <xs:enumeration value="#enum#member"/>
                            <xs:enumeration value="#event"/>                              
                            <xs:enumeration value="#conversion"/>                              
                            <xs:enumeration value="#indexer"/>                               
                            <xs:enumeration value="#accessor"/>                                                           
                            <xs:enumeration value="#region"/>                               
                            <xs:enumeration value="#warning"/>                               
                            <xs:enumeration value="#pragma"/>
                            <xs:enumeration value="#tag"/>
                            <xs:enumeration value="#comment"/>
                            <!--OrderingSyntax-->
                            <xs:enumeration value="=#QUERY#Ordering"/>
                            <!--: CatchClauseSyntax-->
                            <xs:enumeration value="=#CLAUSE#Catch"/>
                            <!--TypeParameterConstraintClauseSyntax-->
                            <xs:enumeration value="=#CLAUSE#TYPE#PARAMETER#Constraint"/>
                            <!--AttributeTargetSpecifierSyntax-->
                            <xs:enumeration value="=#SPECIFIER#ATTRIBUTE#Target"/>
                            <!--AnonymousObjectMemberDeclaratorSyntax-->
                            <xs:enumeration value="=#DECLARATOR#OBJECT#Member"/>
                            <!--SwitchSectionSyntax-->
                            <xs:enumeration value="=#SWITCH#Section"/>
                            <!--ParameterSyntax-->
                            <xs:enumeration value="=#DECLARATION#Parameter"/>
                            <!--AttributeSyntax-->
                            <xs:enumeration value="=#DECLARATION#Attribute"/>
                            <!--AttributeArgumentSyntax-->
                            <xs:enumeration value="=#ATTRIBUTE#Argument"/>
                            <!--ArgumentSyntax-->
                            <xs:enumeration value="=#Argument"/>
                            <!--EnumMemberDeclarationSyntax-->
                            <xs:enumeration value="=#DECLARATION#ENUM#Member"/>
                            <!--AccessorDeclarationSyntax-->
                            <xs:enumeration value="=#DECLARATION#Accessor"/>
                            <!--AnonymousObjectMemberDeclaratorSyntax-->
                            <xs:enumeration value="=#DECLARATOR#OBJECT#Member"/>
                            <!--VariableDeclaratorSyntax-->
                            <xs:enumeration value="=#DECLARATOR#Variable"/>
                            <!--ArrayRankSpecifierSyntax-->
                            <xs:enumeration value="=#SPECIFIER#ARRAY#Rank"/>
                            <!--AttributeListSyntax-->
                            <xs:enumeration value="=#LIST#Attribute"/>
                            <!--TypeParameterSyntax-->
                            <xs:enumeration value="=#TYPE#Parameter"/>
                            <xs:enumeration value="=#TYPE#Base"/>
                            <!--TupleElementSyntax-->
                            <xs:enumeration value="=#TYPE#TUPLE#Element"/>
                            <!--CrefParameterSyntax-->
                            <xs:enumeration value="=#CREF#Parameter"/>
                            <!--ExternAliasDirectiveSyntax-->
                            <xs:enumeration value="=#DIRECTIVE#ExternAlias"/>
                            <!--UsingDirectiveSyntax-->
                            <xs:enumeration value="=#DIRECTIVE#Using"/>


                            <!--BracketedParameterListSyntax inheritors-->
                            <xs:enumeration value="=#LIST#PARAMETER#Bracketed"/>
                            <!--BracketedArgumentListSyntax-->
                            <xs:enumeration value="=#LIST#ARGUMENT#Bracketed"/>
                            <!--TypeParameterListSyntax-->
                            <xs:enumeration value="=#LIST#TYPE#Parameter"/>
                            <!--AttributeArgumentListSyntax..-->
                            <xs:enumeration value="=#LIST#ATTRIBUTE#Argument"/>
                            <!--AccessorListSyntax-->
                            <xs:enumeration value="=#LIST#Accessor"/>
                            <!--TypeArgumentListSyntax...-->
                            <xs:enumeration value="=#LIST#TYPE#Argument"/>
                            <!--BaseListSyntax...-->
                            <xs:enumeration value="=#LIST#TYPE#Base"/>
                            <!--FromClauseSyntax: QueryClauseSyntax-->
                            <xs:enumeration value="=#QUERY#Clause#From"/>
                            <!--JoinIntoClauseSyntax-->
                            <xs:enumeration value="=#CLAUSE#JOIN#Into"/>
                            <!--QueryContinuationSyntax-->
                            <xs:enumeration value="=#QUERY#Continuation"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:list>
                    </xs:simpleType>
                  </xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="language" type="xs:string" use="required" fixed="C#"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
