Jawilliam.CDF.XObjects/XNodeTypeSystem.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2019 sp2 (x64) (http://www.altova.com) by Guillermo de la Torre (Phd Student) -->
<xs:schema xmlns="http://tempuri.org/XNodeTypeSystem.xsd" xmlns:mstns="http://tempuri.org/XNodeTypeSystem.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/XNodeTypeSystem.xsd" elementFormDefault="qualified" id="XNodeTypeSystem">
  <xs:complexType name="TypeLabelOption">
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PropertyLabelOption">
    <xs:complexContent>
      <xs:extension base="mstns:TypeLabelOption">
        <xs:attribute name="type" type="xs:string" use="optional"/>
        <xs:attribute name="keyword" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="operator" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="puntuaction" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="expression" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="literal" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="identifier" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="readonly" type="xs:boolean" use="optional" default="true"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EqualityAndOrSimilarityAbsoluteAndOrRelativeRules">
    <xs:attribute name="equality" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="similarity" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="absolute" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="relative" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
  <xs:complexType name="SuitabilityRule">
    <xs:attribute name="suitable" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
  <xs:complexType name="PairwiseRules">
    <xs:attribute name="tunneling" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="discriminant" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="priority" type="xs:unsignedByte" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TopologyRules">
    <xs:attribute name="relevant" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="relevancy" type="xs:unsignedByte" use="optional" default="0"/>
    <xs:attribute name="leaf" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>  
  <xs:complexType name="JoinCase">
    <xs:attribute name="leftPath" type="xs:string"/>
    <xs:attribute name="rightPath" type="xs:string"/>
  </xs:complexType>
  <xs:attributeGroup name="CompatibilityAttributes">
    <xs:attribute name="type" type="xs:string" use="optional"/>
    <xs:attribute name="kind" type="xs:string" use="optional"/>
    <xs:attribute name="twoWay" type="xs:boolean" use="optional" default="false"/>
  </xs:attributeGroup>
  <xs:group name="CaseRules">
    <xs:choice>
      <xs:element name="Condition">
        <xs:complexType>
          <xs:attribute name="code" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>
	<xs:element name="Syntax">
		<xs:annotation>
			<xs:documentation>Roslyn Delta Specification Language</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Nodes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Type" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Properties" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Property" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
                                <xs:element name="Options" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Kind" type="mstns:PropertyLabelOption" minOccurs="0" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                    <xs:attribute name="exclusive" type="xs:boolean" use="optional" default="false"/>
                                    <xs:attribute name="labeling" type="xs:boolean" use="optional" default="false"/>
                                  </xs:complexType>
                                </xs:element>
																<xs:element name="Rules" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Signature" type="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules" minOccurs="0" maxOccurs="4"/>
																			<xs:element name="Name" minOccurs="0" maxOccurs="4">
																				<xs:complexType>
																					<xs:complexContent>
																						<xs:extension base="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules">
																							<xs:attribute name="conventionPattern" type="xs:string" use="optional"/>
																						</xs:extension>
																					</xs:complexContent>
																				</xs:complexType>
																			</xs:element>
                                      <xs:element name="Hint" type="mstns:SuitabilityRule" minOccurs="0"/>
                                      <xs:element name="Compatibility" minOccurs="0">
                                        <xs:complexType>
                                          <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="Exclusive" minOccurs="0">
                                              <xs:complexType>
                                                <xs:attribute name="mutually" type="xs:boolean" use="optional" default="false"/>
                                                <xs:attribute name="with" type="xs:string" use="required"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Pairwise" type="mstns:PairwiseRules" minOccurs="0"/>
                                      <xs:element name="Topology" type="mstns:TopologyRules" minOccurs="0"/>
																		</xs:sequence>
																		<xs:attribute name="essential" type="xs:boolean" use="optional" default="false"/>
                                    <xs:attribute name="collection" type="xs:boolean" use="optional" default="false"/>
                                    <xs:attribute name="eventuallyCollection" type="xs:boolean" use="optional" default="false"/>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="name" type="xs:string" use="required"/>
															<xs:attribute name="kind" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Node"/>
																		<xs:enumeration value="Token"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="index" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:int"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="readOnly" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="optional" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="changepoint" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="inherited" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="multiplicity" use="optional" default="Single">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="Single"/>
																		<xs:enumeration value="Collection"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="collectionType" type="xs:string" use="optional"/>
                              <xs:attribute name="collectionSeparator" type="xs:string" use="optional"/>
                              <xs:attribute name="keyword" type="xs:boolean" use="optional" default="false"/>
                              <xs:attribute name="operator" type="xs:boolean" use="optional" default="false"/>
                              <xs:attribute name="puntuaction" type="xs:boolean" use="optional" default="false"/>
                              <xs:attribute name="symbolic" type="xs:boolean" use="optional" default="false"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
                    <xs:element name="Options" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="mstns:TypeLabelOption" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="exclusive" type="xs:boolean" use="optional" default="false"/>
                      </xs:complexType>
                    </xs:element>
										<xs:element name="Rules" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Signature" type="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules" minOccurs="0"/>
													<xs:element name="Name" type="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules" minOccurs="0"/>
                          <xs:element name="Hint" type="mstns:SuitabilityRule" minOccurs="0"/>
                          <!--<xs:element name="Alias" type="mstns:CaseRules" minOccurs="0" maxOccurs="unbounded"/>-->
                          <xs:element name="Compatibility" minOccurs="0">
                            <xs:complexType>
                              <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="Signature" minOccurs="0">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules">
                                        <xs:group ref="CaseRules" maxOccurs="unbounded"></xs:group>
                                        <xs:attributeGroup ref="CompatibilityAttributes"/>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Name" minOccurs="0">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="mstns:EqualityAndOrSimilarityAbsoluteAndOrRelativeRules">
                                        <xs:group ref="CaseRules" maxOccurs="unbounded"></xs:group>
                                        <xs:attributeGroup ref="CompatibilityAttributes"/>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Hint" minOccurs="0">
                                  <xs:complexType>
                                    <xs:complexContent>
                                      <xs:extension base="mstns:SuitabilityRule">
                                        <xs:attributeGroup ref="CompatibilityAttributes"/>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Alias" minOccurs="0">
                                  <xs:complexType>
                                    <xs:group ref="CaseRules" maxOccurs="unbounded"></xs:group>
                                    <xs:attributeGroup ref="CompatibilityAttributes"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
													<xs:element name="Granularity" minOccurs="0">
														<xs:complexType>
															<xs:attribute name="fine" type="xs:boolean" use="optional" default="false"/>
															<xs:attribute name="coarse" type="xs:boolean" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
                        <xs:attribute name="collection" type="xs:boolean" use="optional" default="false"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Annotations" minOccurs="0">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element name="Annotation">
														<xs:complexType>
															<xs:attribute name="context" type="xs:string" use="required"/>
															<xs:attribute name="role" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="abstract" type="xs:boolean" use="optional" default="false"/>
									<xs:attribute name="base" type="xs:string" use="optional"/>
                  <xs:attribute name="token" type="xs:boolean" use="optional" default="false"/>
                  <xs:attribute name="operator" type="xs:boolean" use="optional" default="false"/>
                  <xs:attribute name="readonly" type="xs:boolean" use="optional" default="false"/>
                  <xs:attribute name="symbolic" type="xs:boolean" use="optional" default="false"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="language" type="xs:string" use="required" fixed="C#"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
